[submodule "riscv-toolchain"]
	path = riscv-toolchain
	url = git@git.beagleboard.org:beaglev-ahead/riscv-toolchain.git
	shallow = true
[submodule "opensbi"]
	path = opensbi
	url = git@git.beagleboard.org:beaglev-ahead/opensbi.git
	shallow = true
[submodule "beaglev-ahead-u-boot"]
	path = beaglev-ahead-u-boot
	url = git@git.beagleboard.org:beaglev-ahead/beaglev-ahead-u-boot.git
	shallow = true
[submodule "beaglev-ahead-linux"]
	path = beaglev-ahead-linux
	url = git@git.beagleboard.org:beaglev-ahead/beaglev-ahead-linux.git
	shallow = true
