ignore/
mirror/
deploy/boot.ext4
deploy/fw_dynamic.bin
deploy/root.ext4
deploy/u-boot-with-spl.bin
deploy/.modules
deploy/*-modules.tar.gz
deploy/Image
deploy/*.dtb
deploy/debian*
deploy/ubuntu*
deploy/sysconf.txt
deploy/input/
BeagleBoard-DeviceTrees/
riscv-toolchain/
opensbi/
u-boot/
linux/
gpu_bxm_4_64-kernel/
light-images-proprietary/
vi-kernel/
baremetal-drivers/
video_memory/
.05_generate_boot.sh
.06_generate_boot.sh
.06_generate_root.sh
.07_generate_root.sh
